// COLORS
$color-primary: #3b79de;
$color-primary-dark: #3065bb;
$color-primary-light: #ebf1fc;
$dark-heading-text: #4f4f4f;

$input-text: #828282;
$input-bg: #f2f2f2;

$color-white: #fff;

// WEIGHT
$small-weight: 400;
$weight-500: 500;
$weight-600: 600;
$weight-700: 700;
$weight-800: 800;
$strong-weight: 900;

// FONT
$default-font-size: 1.6rem;
$font-12: 12px;
$font-14: 14px;
$font-15: 15px;
$font-18: 18px;
$font-19: 19px;
$font-23: 23px;
$font-24: 24px;
$font-29: 29px;
// $font-32: 32px;
// $font-40: 40px;
// $font-56: 56px;

// FONT FAMILY
$default-family: Aileron;
$sans-family: 'Open Sans';

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// Border
$default-border: 1px solid $color-primary;

// BOX SHADOW

$default-shadow: 0px 4px 15px rgba(0, 0, 0, 0.06);
$wallet-shadow: 0px 3px 20px rgba(33, 33, 33, 0.1);

// RGBA VALUE

$rgba-33: rgba(33, 33, 33, 0.1);
