.pri-btn {
  height: 40px;
  width: 100%;
  border-radius: 4px;
  background: $color-primary;
  font-size: $font-15;
  font-weight: $small-weight;
  color: #fff;
  border: none;
  cursor: pointer;
}

.btns {
  margin-top: 19px;
  gap: 32px;
}

.sec-btn {
  // max-width: 159px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 25px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500px;
  color: $color-white;
  background: #3062b4;
}

.sec-btn-danger {
  // max-width: 159px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 25px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500px;
  color: $color-white;
  background: #f84c4c;
}
